.img{margin-left:110px;}

.first{float: left;
        margin-left:160px;}
.second{float: left;
        margin-left:180px;}
.third{float: left;
        margin-left:200px;}
.fourth{float: left;
        margin-left:220px;}